<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="form-group">
                    <input type="text" name="usuario" class="form-control" placeholder="Usuario">
                </div>

                <div class="form-group">
                    <input type="text" name="password" class="form-control" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
        </div>
        {{#if error}}
            <p>Usuario o contraseña incorrectos</p>
        {{/if}}
    </div>
</div>