<main id="destacados">
    <h2 class="texto-alineado">Libros destacados</h2>

    <div class="contenedor">
        <figure>
            <img src="images/caratulas/31902.jpg" alt="el quijote">
            <figcaption>
                <p>Don Quijote de la Mancha</p>
                <p>Miguel de Cervantes</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/2392.jpg" alt="la iliada">
            <figcaption>
                <p>La Ilíada</p>
                <p>Homero</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/34072.jpg" alt="la divina comedia">
            <figcaption>
                <p>La divina comedia</p>
                <p>Dante Alighieri</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/4646.jpg" alt="crimen y castigo">
            <figcaption>
                <p>Crimen y castigo</p>
                <p>Fiódor Dostoyevski</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/461.jpg" alt="un mundo feliz">
            <figcaption>
                <p>Un mundo feliz</p>
                <p>Aldous Huxley</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/3960.jpg" alt="martin fierro">
            <figcaption>
                <p>Martín Fierro</p>
                <p>José Hernández</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/3441.jpg" alt="hamlet">
            <figcaption>
                <p>Hamlet</p>
                <p>William Shakespeare</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/9122.jpg" alt="nuestra señora de paris">
            <figcaption>
                <p>Nuestra señora de París</p>
                <p>Victor Hugo</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/53837.jpg" alt="antologia poetica">
            <figcaption>
                <p>Antología Poética</p>
                <p>Lope de Vega</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/1379.jpg" alt="harry potter">
            <figcaption>
                <p>Harry Potter y la piedra filosofal</p>
                <p>J. K. Rowling</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/1371.jpg" alt="el señor de los anillos">
            <figcaption>
                <p>El señor de los anillos</p>
                <p>J. R. R. Tolkien</p>
            </figcaption>
        </figure>

        <figure>
            <img src="images/caratulas/9605.jpg" alt="poesias">
            <figcaption>
                <p>Poesías</p>
                <p>José de Espronceda</p>
            </figcaption>
        </figure>
    </div>
</main>
