<main id="home">
    <h2 class="texto-alineado">Obras clásicas y contemporáneas</h2>

    {{!-- <div class="iframe"><iframe width="560" height="315" src="https://www.youtube.com/embed/CndQ-CxwnNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> --}}

    <div class="left">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis fugiat perspiciatis fuga accusantium esse id unde dolorum voluptatum ullam. Reiciendis fuga cumque iusto sint vitae, commodi fugit nulla, odit natus est dolores consequatur eum eius eveniet saepe minima atque blanditiis eos molestias quis error ratione iure harum! Est ipsam perferendis blanditiis laborum sapiente ratione earum voluptatem voluptate! Architecto optio a quidem quasi, aut necessitatibus blanditiis reiciendis sequi doloremque corrupti possimus commodi corporis? Aspernatur numquam rerum temporibus, tempore enim itaque facere alias reiciendis perspiciatis asperiores quaerat? Est iure magnam ab adipisci laborum inventore cupiditate facere. Id, necessitatibus. Sequi nobis unde saepe facilis aspernatur maiores, iste ut cumque a. Sequi voluptas ducimus omnis exercitationem soluta perferendis esse nihil facere quod dolore, molestiae quia voluptatibus mollitia suscipit quasi velit, atque beatae, nam maxime veniam fugit nesciunt quae? Rem eius illum iste, corporis rerum veniam omnis, harum assumenda ducimus earum, sunt culpa corrupti dignissimos!
        </p>
    </div>

    <div class="right">
        <figure>
            <img src="images/cervantes.jpg" alt="columna de libros">
            <figcaption>
                <strong>"El que lee mucho y anda mucho, ve mucho y sabe mucho"</strong>
                <em>Miguel de Cervantes Saavedra</em>
            </figcaption>
        </figure>
    </div>


</main>

<aside class="sitios-externos">
    <strong>Enlaces externos</strong>
    <ul>
        <li><a href="https://www.ebookelo.com/" target="_blank">Ebookelo</a></li>
        <li><a href="https://lectulandia.to/" target="_blank">Lectulandia</a></li>
        <li><a href="https://ebiblioteca.org/" target="_blank">e-Biblioteca</a></li>
        <li><a href="http://www.cervantesvirtual.com/" target="_blank">Biblioteca Virtual Miguel de Cervantes</a></li>
    </ul>
</aside>
