<main id="novedades">
    <h2 class="texto-alineado">Próximas publicaciones</h2>
    <div class="contenedor">

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/1828.jpg" alt="el nombre del viento">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>El nombre del viento</dd>
                        <dt>Autor</dt>
                        <dd>Patrick Rothfuss</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                «Viajé, amé, perdí, confié y me traicionaron». En una posada en tierra de nadie, un hombre se dispone a relatar, por primera vez, la auténtica historia de su vida. Una historia que únicamente él conoce y que ha quedado diluida tras los rumores, las conjeturas y los cuentos de taberna que le han convertido en un personaje legendario a quien todos daban ya por muerto: Kvothe… músico, mendigo, ladrón, estudiante, mago, héroe y asesino. Ahora va a revelar la verdad sobre sí mismo. Y para ello debe empezar por el principio: su infancia en una troupe de artistas itinerantes, los años malviviendo como un ladronzuelo en las calles de una gran ciudad y su llegada a una universidad donde esperaba encontrar todas las respuestas que había estado buscando.
            </p>
        </div>

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/60020.jpg" alt="un espia impecable">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>Un espía impecable</dd>
                        <dt>Autor</dt>
                        <dd>Owen Matthews</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                Richard Sorge fue un hombre con dos patrias. Hijo de padre alemán y de madre rusa nacido en Bakú en 1895, se movió en un mundo de alianzas inestables e infinitas posibilidades. Sorge pertenecía a aquella generación indignada y decepcionada que encontró nuevas y radicales ideas tras su experiencia en los campos de batalla de la primera guerra mundial; se convirtió en un fanático del comunismo y en el mejor espía de la Unión Soviética.

Como muchos buenos espías, Sorge fue un seductor incansable, combinando su encanto con un despiadado poder de manipulación. Gracias a su magnetismo consiguió sobrevivir en todos los ambientes, conquistar a todas las mujeres y trabar amistad con todas las grandes personalidades con las que se cruzó. Como corresponsal extranjero se internó y tuvo influencia en las más altas esferas de las sociedades alemana, china y japonesa en los años previos y durante la segunda guerra mundial. Su historia personal resulta fascinante por la cantidad de escenarios donde sucede (desde la Rusia revolucionaria hasta el Japón imperial, pasando por las trincheras alemanas de la primera guerra mundial al ascenso nazi o los Estados Unidos prebélicos y la China sacudida por la guerra civil). Se convirtió en un valor incalculable para nazis, japoneses y rusos, y desde la otra punta del mundo será él quien advierta de la Operación Barbarroja y las intenciones japonesas de no invadir Siberia en 1941, que resultó fundamental para la contraofensiva soviética en la Batalla de Moscú, y que a su vez determinó el resultado de la guerra.
            </p>
        </div>

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/59847.jpg" alt="el desastre de annual">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>El desastre de Annual</dd>
                        <dt>Autor</dt>
                        <dd>Gerardo Muñoz Lorente</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                El conocido históricamente como desastre de Annual ocurrió en el verano de 1921, entre el 21 de julio, cuando los rifeños rebeldes liderados por un antiguo moro amigo de España, Mohamed Abd-el-Krim, ocuparon la posición española de Igueriben, y el 10 de agosto, con la rendición y matanza en Monte Arruit. Entre medias, miles de militares españoles sufrieron un auténtico viacrucis al emprender una retirada desesperada y condenada al fracaso. Las noticias de tales hechos, así como el posterior cautiverio de centenares de militares y paisanos españoles, conmocionaron a España entera y fueron causa directa de varias crisis políticas como el golpe de estado y la dictadura de Miguel Primo de Rivera así como la posterior caída de la monarquía de Alfonso XIII. Aquella trágica derrota del ejército español fue el comienzo de la última guerra colonial española, que duró seis años y finalizó con la ocupación militar del Protectorado de España en Marruecos. En este libro, Gerardo Muñoz cuenta cronológica y detalladamente los hechos acaecidos durante el Desastre de Annual, pero también lo sucedido durante la campaña militar del resto del año 1921 y las dramáticas experiencias vividas por algunos de los españoles capturados. Y lo hace resaltando el factor humano, es decir, a los protagonistas; no solo a los militares de mayor graduación, sino también a muchos jóvenes que formaban parte de la tropa y que son los grandes olvidados de las crónicas oficiales. Entre los protagonistas, Muñoz dedica un capítulo especial a la familia de Abd-el-Krim, fundador de la República del Rif, clarificando algunas cuestiones vitales para entender la dinámica de los hechos y el contexto en el que estos se desarrollaron.
            </p>
        </div>

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/63082.jpg" alt="si el amor es un canto de sirena">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>Si el amor es un canto de sirena</dd>
                        <dt>Autor</dt>
                        <dd>Esther Sanz</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                Nunca imaginé que en un isla perdida del Canal de la Mancha conocería a alguien que me cambiaría la vida. Y mucho menos que, un año después, aquella oscura y pequeña isla me llamaría de nuevo, como el suave canto de una sirena, para mostrarme otra vez la luz o quizás para atraparme entre sus sombras.

La tragedia se cierne sobre Silence Hill y tal vez sea tiempo de que se develen los secretos más tenebrosos y de que caigan las máscaras.

Mientras tanto, yo tendré que librar la batalla más dura… la de mi corazón.
            </p>
        </div>

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/59449.jpg" alt="las hermanas makioka">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>Las hermanas Makioka</dd>
                        <dt>Autor</dt>
                        <dd>Jun’ichirō Tanizaki</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                Pocos años antes de comenzar la Segunda Guerra Mundial, en la tradicional Osaka, cuatro mujeres de clase alta tratan de preservar una forma de vida ancestral que está a punto de desaparecer. Las hermanas Makioka es el retrato conmovedor, pero implacable, de una familia y de la sociedad japonesa que estaban enfrentándose al abismo de la modernidad. Lleno de bellas y delicadas estampas de las costumbres de la aristocracia japonesa, captura tanto las convenciones sociales como la íntima angustia de sus protagonistas. Las hermanas Makioka, obra fundamental de Jun’ichirō Tanizaki, es fruto de una redacción lenta y meditada, en la que buscó refugio de la catástrofe de la guerra, recreando un suntuoso y exquisito mundo con la nostalgia de un tiempo y felicidad que se estaban desvaneciendo.
            </p>
        </div>

        <div class="nuevo-libro">
            <figure>
                <img src="images/caratulas/mini/627.jpg" alt="ready player one">
                <figcaption>
                    <dl>
                        <dt>Título</dt>
                        <dd>Ready Player One</dd>
                        <dt>Autor</dt>
                        <dd>Ernest Cline</dd>
                    </dl>
                </figcaption>
            </figure>
            <h3>Sinopsis</h3>
            <p class="sinopsis-libro">
                Estamos en el año 2044 y, como el resto de la humanidad, Wade Watts prefiere mil veces el videojuego de OASIS al cada vez más sombrío mundo real. Se afirma que esconde las piezas de un rompecabezas diabólico cuya resolución conduce a una fortuna incalculable. Durante años, millones de humanos han intentado dar con ellas, sin éxito. De repente, Wade logra resolver el primer rompecabezas del premio, y a partir de ese momento debe competir contra miles de jugadores para conseguir el trofeo. La única forma de sobrevivir es ganar.

Ready Player One, el impresionante debut de Ernest Cline, está revolucionando la literatura de género en Estados Unidos. Antes incluso de su publicación, convenció a la Warner Bros. de convertirlo en su próxima gran producción, a agentes y editores de medio mundo de que compraran sus derechos, y cautivó a autores de la talla de Charlaine Harris y Patrick Rothfuss, a quien, según ha confesado, le pareció un libro escrito por él mismo. Desde entonces, esta novela ha seducido a la crítica y ha alcanzado las listas de más vendidos del New York Times y Amazon.
            </p>
        </div>
        
    </div>
</main>
